<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- <link rel="stylesheet" type="text/css" href="css/nvStyle.css"> -->
    <link rel="stylesheet" type="text/css" href="test.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">

</head>
<body background="body">
<form action="recherchRapide.php"  method="GET">
<!-- <input type="text" name="adresse">
<input class="btn btn-danger" type="submit" name="btnChercher" value="chercher">
 -->
<div class="container" style="padding-top: 20%">
	<div classs="row">
		<h2>entrer votre adresse pour voir les mecanicienne les plus proche </h2>
           <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control" placeholder="Search" name="adresse" />
                                <span class="input-group-btn">
                                    <input class="btn btn-danger" type="submit" name="btnChercher" value="chercher">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
	</div>
</div>



</form>
</body>
</html>